# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production
build/
dist/
out/

# Next.js
.next/
.vercel

# Hardhat
cache/
artifacts/
deployments/
typechain/
typechain-types/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
*.tsbuildinfo
next-env.d.ts

# Large Assets
*.png
*.jpg
*.mp4
